.quote-section{
  padding: 117px 80px;
  background-color: #E0E1DD;
  display: flex;
  gap: 171px;
}
.quote-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
}
.quote-image{
  flex: 1;
}
.quote-image img{
  width: 100%;
  height: auto;
}
.quote-text{
  font-weight: 300;
  font-size: 32px;
  text-align: left;
  margin: 0;
}