.quote-section{
  padding: 117px 80px;
  background-color: #E0E1DD;
  display: flex;
  gap: 171px;
}
.quote-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
}
.quote-image{
  flex: 1;
}
.quote-image img{
  width: 100%;
  height: auto;
}
.quote-text{
  font-weight: 300;
  font-size: 32px;
  text-align: left;
  margin: 0;
}
.newsletter-section{
  padding: 117px 80px;
}
.newsletter-container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #778DA9;
  color: white;
  display: flex;
  height: 294px;
  border-radius: 24px;
  gap: 50px;
  align-items: center;
}

.newsletter-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: start;
  padding-left: 56px;
  gap: 50px;
}

.newsletter-text h3,
.newsletter-text p{
  margin: 0px;
}

.newsletter-container div{
  flex: 1;
}

.newsletter-text button{
  width: fit-content;
  gap: 14px;
  white-space: nowrap;
}

.newsletter-container img{
  width: 100%;
}

footer{
  background-color: #0D1B2A;
  font-size: 20px;
  color: white;
  padding: 10px;
  text-align: center;
}